<div class="signup-page">
  <mat-card class="signup-card">
    <mat-card-title class="signup-title">Sign up</mat-card-title>
    <mat-card-content>
      <form class="signup-form" [formGroup]="form" (ngSubmit)="submitForm()" #signupForm>
        <mat-form-field class="">
          <mat-label>Name</mat-label>
          <input matInput id="name" formControlName="firstName" required autocomplete="name">
          <mat-error *ngIf="formSubmitClicked && nameRequiredError">
            Name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Last name</mat-label>
          <input matInput id="last-name" formControlName="lastName" required>
          <mat-error *ngIf="formSubmitClicked && lastNameRequiredError">
            Last name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Email</mat-label>
          <input matInput id="email" formControlName="email" type="email" autocomplete="email" required>
          <mat-error *ngIf="formSubmitClicked && emailRequiredError">
            Email is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Password</mat-label>
          <input matInput id="password" formControlName="password"  type="password" autocomplete="new-password" required>
          <mat-hint>Min. 8 characters. Uppercase and lowercase. Must not include name or last name.</mat-hint>
          <mat-error *ngIf="formSubmitClicked && passwordErrorMessage">{{passwordErrorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Confirm Password</mat-label>
          <input matInput id="confirmPassword" formControlName="confirmPassword" type="password" autocomplete="off" required>
          <mat-error *ngIf="formSubmitClicked && passwordConfirmErrorMessage">
            {{passwordConfirmErrorMessage}}
          </mat-error>
        </mat-form-field>
        <mat-spinner diameter="50" aria-label="spinner" *ngIf="signingUpInProgress"></mat-spinner>
        <button mat-raised-button color="primary" type="submit" [disabled]="signingUpInProgress">Sign up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
