.signup-page {
  height: 100%;
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-card {
  width: 400px;
  max-width: 80%;
}

.signup-title {
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 5px;
  &:last-of-type {
    margin-bottom: 20px;
  }
}

mat-spinner {
  margin: 0 auto 20px;
}


