<h2 mat-dialog-title>Confirm your email</h2>
<mat-dialog-content>
  Signup was successful, and we have set out confirmation email to: {{dialogData.email}}.
  Please confirm email address before starting to use the service.
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="confirmedEmail()" >Confirmed email</button>
</mat-dialog-actions>
